@{
    ViewData["Title"] = "Home Page";
}
<head>

    <link rel="manifest" href="/manifest.webmanifest" />
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('sw.js');
        };
    </script>

</head>
<div class="text-center">
    <h1 class="display-4">Strona główna</h1>
    <p>Aplikacja -- plany treningowe</p>
    <div id="mainphoto">
        <img src="~/Image/larry-wheels.jpg" />
    </div>
</div>
